numpy==1.23.3
openpyxl==3.0.9
pandas==1.5.0
scikit-learn
scipy
torch==1.8.0
torch-cluster
torch-geometric
torch-scatter
torch-sparse
torch-spline-conv
tqdm
biopython==1.79
scikit-image==0.19.1
seaborn==0.11.2
strsimpy==0.2.1
torchelastic==0.2.2
torchtext==0.9.0
torchvision==0.9.0
xlrd==1.2.0
XlsxWriter==3.0.3